.top-nav {
    width: 100vw;
    background-color: #a45459;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: static;
    z-index: 100;
}

.top-nav-grid {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0px;
}

.top-nav-grid .search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1.2rem;
    flex: 1;
    width: 100%;
}

.top-nav-grid .search-input .input-search {
    padding: 10px 20px;
    border-radius: 25px;
    color: #000;
    outline: none;
    width: 80% !important;
    font-size: 0.9rem;
    font-weight: 300;
}

.top-nav-grid .carrinho {
    display: flex;
    justify-content: center;
}
.top-nav-grid span {
    font-weight: bold;
    font-size: 1.5rem;
}

.search-results {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    height: 50vh;
    z-index: 1000;
    position: static;
}

.search-results .list-search {
    width: 30%;
    margin: 0 auto;
}

.search-results .list-search ul li {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.search-results .list-search ul li:hover {
    cursor: pointer;
    transition: 0.3s;
}

.search-results .list-search ul li:hover span {
    font-weight: bold;
    transition: 0.3s;
}

@media screen and (max-width: 850px) {
    .search-input {
        display: none !important;
    }

    .top-nav-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-results .list-search {
        display: none;
    }

    .top-nav-grid .carrinho {
        justify-content: flex-end;
    }

    .bila-wine-top {
        display: flex;
        justify-content: flex-start;
    }
}

.bottom-nav {
    padding: 10px 0px;
    width: 100vw;
    background-color: #fff;
    color: #000;
    font-size: 0.8rem;
    font-weight: 600;
    box-shadow: 0 2px 3px rgb(40 40 40 / 20%);
}

.bottom-nav-container {
    width: 70%;
    margin: 0 auto;
}

.bottom-nav-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom-nav-grid div {
    padding-top: 2px;
    padding-bottom: 2px;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid transparent;
}
.bottom-nav-grid div:hover {
    padding-bottom: 2px;
    transition: 0.3s;
    border-bottom: 2px solid #a45459;
}
.bottom-nav-grid div:hover li {
    color: #a45459;
    transition: 0.3s;
    cursor: pointer;
}

.bottom-nav-grid .spacer {
    border: none;
}

.user-bottom-nav {
    border: none !important;
    display: flex;
    text-align: center;
    justify-content: center;
}

.user-bottom-nav:hover {
    color: #a45459;
    transition: 0.3s;
    cursor: pointer;
}

.user-bottom-nav i {
    margin-left: 3px;
    margin-top: 2px;
}

.user-bottom-nav-low {
    visibility: hidden;
}

.noborder {
    border-right: none !important;
}

@media screen and (max-width: 1000px) {
    .bottom-nav-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .user-bottom-nav-low {
        visibility: visible;
        border: none !important;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .user-bottom-nav-low:hover {
        color: #a45459;
        transition: 0.3s;
        cursor: pointer;
    }

    .user-bottom-nav-low i {
        margin-left: 3px;
        margin-top: 2px;
    }

    .user-bottom-nav {
        visibility: hidden;
    }
}

@media screen and (max-width: 500px) {
    .bottom-nav-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-template-columns: repeat(1, 1fr);
    }

    .bottom-nav-grid div {
        border: none;
    }
}

.dropdown-m {
    position: relative;
    display: flex;
}

.dropdown-content {
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 35px
}
.dropdown-content li {
    color: black!important;
    background-color: #f1f1f1;
    padding: 10px 20px;
}

.dropdown-content li:hover {
    color: #a45459!important;
    transition: 0.3s;
    background-color: white;

}
