.newsletter-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-side-newsletter {
    flex-direction: column;
    font-weight: 700;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
}

.newsletter-form {
    padding: 2rem;

}
@media (max-width: 1200px) {
    .newsletter-div {
        text-align: center;
    }

    .left-side-newsletter {
        margin-bottom: 10px;
    }
    .newsletter-div {
        grid-template-columns: repeat(1, 1fr);
    }

    .conjunto-newsletter:last-child {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
