:root {
    --main-color: #a45459;
}
.newsletter {
    width: 100vw;
    color: white;
    font-weight: 700;
    background-color: var(--main-color);
}


.newsletter-div {
    width: 70%;
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.newsletter-div-fi {
    display: flex;
    align-items: center;
}
.newsletter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.newsletter-div input {
    padding: 10px 20px;
    outline: none;
}

.newsletter-button {
    background-color: white;
    color: var(--main-color);
    padding: 10px 20px;
}

@media (max-width: 1200px) {
    .newsletter-div {
        text-align: center;
    }

    .newsletter-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .newsletter-div-fi {
        margin-bottom: 1.1rem;
    }
}
